.main-photo-icon {
    width: 100%;
    position: relative;
    height: 30rem;
    object-fit: cover;
    z-index: 0;
}
.b {
    align-self: stretch;
    position: relative;
    line-height: 1;
    display: inline-block;
    height: 6rem;
    flex-shrink: 0;
}
.div {
    width: 40%;
    position: relative;
    font-size: 1.25rem;
    line-height: 1.35;
    display: inline-block;
}
.headlid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem 0 0 5rem;
    box-sizing: border-box;
    gap: 1.5rem;
    z-index: 1;
    margin-left: -3.75rem;
    font-size: 3rem;
}
.b1 {
    align-self: stretch;
    position: relative;
    line-height: 1.15;
}
.div1 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.35;
    display: inline-block;
    width: 40%;
}
.wrapper {
    width: 40%;
    position: relative;
    height: 6.875rem;
    font-size: 1rem;
}
.gnil-icon {
    width: 15%;
    position: relative;
    height: auto;
    object-fit: cover;
}
.tverd-icon {
    width: 15%;
    position: relative;
    height: auto;
    object-fit: cover;
}
.spel-icon {
    width: 15%;
    position: relative;
    height: auto;
    object-fit: cover;
}
.spelost-photo {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
}
.parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}
.group {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}
.spelost-text {
    align-self: stretch;
    position: relative;
    height: 8.5rem;
}
.div2 {
    align-self: stretch;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.75rem;
}
.spelost-phototext {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.75rem;
}
.touch {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.5rem 0 0 5rem;
    box-sizing: border-box;
    gap: 1.5rem;
    z-index: 2;
    margin-left: -3.75rem;
}
.video-touch {
    align-self: stretch;
    position: relative;
    height: 29.5rem;
}
.vide-touchtext {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem 5rem 0;
    box-sizing: border-box;
    gap: 0.8125rem;
    z-index: 3;
    margin-left: -3.75rem;
    font-size: 0.75rem;
}
.div10 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.35;
    display: inline-block;
    width: 40%;
    height: 8.25rem;
}
.frame {
    align-self: stretch;
    position: relative;
    height: 8.375rem;
    font-size: 1rem;
}
.frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.rub-icon {
    width: 15%;
    position: relative;
    height: auto;
    object-fit: cover;
}
.rub-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.25rem
}
.div11 {
    width: 12.1875rem; /* 195px -> 12.1875rem */
    position: relative;
    line-height: 1.35; /* 135% -> 1.35 */
    display: inline-block;
    flex-shrink: 0;
}
.div13 {
    width: 11.8125rem; /* 189px -> 11.8125rem */
    position: relative;
    line-height: 1.35;
    display: inline-block;
    flex-shrink: 0;
}
.frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.75rem; /* 12px -> 0.75rem */
    font-size: 0.75rem; /* 12px -> 0.75rem */
}
.frame-parent {
    width: 100%; /* 1000px -> 100% */
    max-width: 62.5rem; /* 1000px -> 62.5rem */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.5rem 5rem 0;
    box-sizing: border-box;
    gap: 1.5rem; /* 24px -> 1.5rem */
    z-index: 4;
    margin-left: -3.75rem; /* -60px -> -3.75rem */
}
.p {
    margin-block-start: 0;
    margin-block-end: 0.25rem; /* 4px -> 0.25rem */
}
.c {
    margin: 0;
}
.c-container {
    width: 39.0625rem; /* 625px -> 39.0625rem */
    position: relative;
    line-height: 1.35;
    display: inline-block;
    flex-shrink: 0;
}
.expert1 {
    width: 100%; /* 1000px -> 100% */
    max-width: 62.5rem; /* 1000px -> 62.5rem */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 5rem 0;
    box-sizing: border-box;
    z-index: 5;
    margin-left: -3.75rem; /* -60px -> -3.75rem */
    text-align: center;
    font-size: 1rem; /* 16px -> 1rem */
}
.div15 {
    align-self: stretch;
    position: relative;
    font-size: 1rem; /* 16px -> 1rem */
    line-height: 1.35;
}
.div14 {
    width: 39.0625rem; /* 625px -> 39.0625rem */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem; /* 16px -> 1rem */
}
.ves-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.8125rem; /* 13px -> 0.8125rem */
    font-size: 0.75rem; /* 12px -> 0.75rem */
}
.vesvideo {
    width: 100%; /* 1000px -> 100% */
    max-width: 62.5rem; /* 1000px -> 62.5rem */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.5rem 5rem 0;
    box-sizing: border-box;
    gap: 1.5rem; /* 24px -> 1.5rem */
    z-index: 6;
    margin-left: -3.75rem; /* -60px -> -3.75rem */
}
.div17 {
    width: 39.0625rem; /* 625px -> 39.0625rem */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.wrapper1 {
    width: 47.1875rem; /* 757px -> 47.1875rem */
    position: relative;
    height: 7.4375rem; /* 119px -> 7.4375rem */
}
.find-sort-inner {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem; /* 16px -> 1rem */
}
.klementin-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 12.375rem; /* 198px -> 12.375rem */
    flex-shrink: 0;
    object-fit: contain;
}
.klementin-parent {
    width: 12.1875rem; /* 195px -> 12.1875rem */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8125rem; /* 13px -> 0.8125rem */
}
.unshiu-icon {
    width: 10rem; /* 160px -> 10rem */
    position: relative;
    height: 8.819rem; /* 141.1px -> 8.819rem */
    object-fit: contain;
}
.unshiu-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8125rem; /* 13px -> 0.8125rem */
}
.frame-wrapper {
    width: 12.1875rem; /* 195px -> 12.1875rem */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.murkot-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 9.8125rem; /* 157px -> 9.8125rem */
    flex-shrink: 0;
    object-fit: cover;
}
.frame-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1.25rem; /* 20px -> 1.25rem */
}
.sort-inner {
    width: 39.0625rem; /* 625px -> 39.0625rem */
    position: relative;
    height: 19.1875rem; /* 307px -> 19.1875rem */
    font-size: 0.75rem; /* 12px -> 0.75rem */
}
.sort1 {
    width: 100%; /* 1000px -> 100% */
    max-width: 62.5rem; /* 1000px -> 62.5rem */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.5rem 5rem 0;
    box-sizing: border-box;
    gap: 1.5rem; /* 24px -> 1.5rem */
}
.i {
    align-self: stretch;
    position: relative;
    line-height: 1.35; /* 135% */
}
.expert2 {
    width: 100%;
    max-width: 62.5rem; /* 1000px */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2rem 18.75% 0 5rem; /* 32px 295px 0 80px */
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem; /* 16px */
}
.sort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 7;
    margin-left: -3.75rem; /* -60px */
}
.child {
    position: relative;
    background-color: rgba(247, 133, 35, 0.6);
    height: 1.25rem; /* 20px */
    width: 14.5625rem; /* 233px */
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
}
.div23 {
    position: absolute;
    top: 0;
    left: 0;
    width: 39.0625rem; /* 625px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.125rem 0;
    box-sizing: border-box;
    gap: 0.625rem; /* 10px */
    line-height: 1.35; /* 135% */
    height: 2.75rem; /* 44px */
    flex-shrink: 0;
    z-index: 1;
}
.div22 {
    position: absolute;
    top: 10.679rem; /* 170.79px */
    left: 0;
    width: 39.0625rem; /* 625px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.125rem 0;
    box-sizing: border-box;
    gap: 0.625rem; /* 10px */
}
.item {
    position: relative;
    background-color: rgba(247, 133, 35, 0.6);
    height: 1.25rem; /* 20px */
    width: 8.1875rem; /* 131px */
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
}
.div24 {
    position: absolute;
    top: 10.679rem; /* 170.79px */
    left: 0;
    width: 39.0625rem; /* 625px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.125rem 0;
    box-sizing: border-box;
    gap: 0.625rem; /* 10px */
}
.inner {
    position: relative;
    background-color: rgba(247, 133, 35, 0.6);
    height: 1.25rem; /* 20px */
    width: 10.6875rem; /* 171px */
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
}
.div26 {
    position: absolute;
    top: 10.679rem; /* 170.79px */
    left: 0;
    width: 39.0625rem; /* 625px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.125rem 0;
    box-sizing: border-box;
    gap: 0.625rem; /* 10px */
}
.child1 {
    position: relative;
    background-color: rgba(247, 133, 35, 0.6);
    height: 1.25rem; /* 20px */
    width: 11.1875rem; /* 179px */
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
}
.div28 {
    position: absolute;
    top: 10.679rem; /* 170.79px */
    left: 0;
    width: 39.0625rem; /* 625px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.125rem 0;
    box-sizing: border-box;
    gap: 0.625rem; /* 10px */
}
.spisok {
    position: absolute;
    top: 0;
    left: 0;
    width: 39.0625rem; /* 625px */
    height: 13.4375rem; /* 215px */
}
.spisok-wrapper {
    position: absolute;
    top: 2.5rem; /* 40px */
    left: 5rem; /* 80px */
    width: 52.5rem; /* 840px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem; /* 16px */
}
.list {
    position: absolute;
    top: 2.5rem; /* 40px */
    left: 5rem; /* 80px */
    width: 52.5rem; /* 840px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem; /* 16px */
}
.itog {
    width: 62.5rem; /* 1000px */
    position: relative;
    height: 22.1875rem; /* 355px */
    z-index: 8;
    margin-left: -3.75rem; /* -60px */
}
.div32 {
    position: relative;
    line-height: 1.35; /* 135% */
}
.parent2 {
    width: 62.5rem; /* 1000px */
    padding: 1.5rem 0 2.5rem 5rem; /* 24px 0 40px 80px */
    box-sizing: border-box;
    gap: 0.625rem; /* 10px */
}
.plashka {
    flex: 1;
    position: relative;
    background-color: #f78523;
    overflow: hidden;
}
.podval {
    width: 62.5rem; /* 1000px */
    height: 12.375rem; /* 198px */
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 9;
    margin-left: -3.75rem; /* -60px */
    font-size: 0.75rem; /* 12px */
}
.my-photo-icon {
    border-radius: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 7.6875rem; /* 123px */
    object-fit: cover;
    object-position: center top;
}
.my-phototext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem; /* 8px */
}
.factoid {
    position: absolute;
    top: 41.125rem; /* 658px */
    left: 49.8125rem; /* 797px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem; /* 24px */
    z-index: 10;
    font-size: 0.75rem; /* 12px */
}
.kursach {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 274.125rem; /* 4386px */
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: left;
    font-size: 1.5rem; /* 24px */
    color: #000;
    font-family: Inter, sans-serif;
}
